@model IEnumerable<WebApplication1.Models.Employee>

@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>List of Employees</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deptno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Empno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deptno)
                </td>
            </tr>
        }
    </tbody>
</table>
